# Yelp - Sentiment analysis and business prediction

# Context
(source: https://www.kaggle.com/datasets/yelp-dataset/yelp-dataset/version/6) - This dataset is a subset of Yelp's businesses, reviews, and user data. It was originally put together for the Yelp Dataset Challenge which is a chance for students to conduct research or analysis on Yelp's data and share their discoveries. In the dataset you'll find information about businesses across 11 metropolitan areas in four countries

# Objective

# Import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%%time 
business = pd.read_csv("./yelp_business.csv", chunksize = 1000000)
business_giant = pd.concat(business)

review = pd.read_csv("./yelp_review.csv", chunksize = 1000000)
review_giant = pd.concat(review)

check_in = pd.read_csv("./yelp_checkin.csv", chunksize = 1000000)
check_in_giant = pd.concat(check_in)

CPU times: user 37.9 s, sys: 12.6 s, total: 50.6 s
Wall time: 1min 22s

In [3]:
business_giant.info()
business_giant.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174567 entries, 0 to 174566
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   174567 non-null  object
 1   name          174567 non-null  object
 2   neighborhood  68015 non-null   object
 3   address       174567 non-null  object
 4   city          174566 non-null  object
 5   state         174566 non-null  object
 6   postal_code   173944 non-null  object
 7   latitude      174566 non-null  float64
 8   longitude     174566 non-null  float64
 9   stars         174567 non-null  float64
 10  review_count  174567 non-null  int64
 11  is_open       174567 non-null  int64
 12  categories    174567 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 17.3+ MB

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [4]:
review_giant.info()
review_giant.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5261668 entries, 0 to 5261667
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   date         object
 5   text         object
 6   useful       int64
 7   funny        int64
 8   cool         int64
dtypes: int64(4), object(5)
memory usage: 361.3+ MB

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [5]:
check_in_giant.info()
check_in_giant.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3911218 entries, 0 to 3911217
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   business_id  object
 1   weekday      object
 2   hour         object
 3   checkins     int64
dtypes: int64(1), object(3)
memory usage: 119.4+ MB

              business_id weekday   hour  checkins
0  3Mc-LxcqeguOXOVT_2ZtCg     Tue   0:00        12
1  SVFx6_epO22bZTZnKwlX7g     Wed   0:00         4
2  vW9aLivd4-IorAfStzsHww     Tue  14:00         1
3  tEzxhauTQddACyqdJ0OPEQ     Fri  19:00         1
4  CEyZU32P-vtMhgqRCaXzMA     Tue  17:00         1

# Data Cleaning/ Data Wrangling
Clean and combine data sets based on business id filtered for category and year

## Review 
    1. Change the data type from object to date format
    2. Only check after year 2016

In [6]:
# Review
review_giant['date'] = pd.to_datetime(review_giant['date'])
review_giant['date'][0]

Timestamp('2016-05-28 00:00:00')

In [7]:
# check how many reviews in each year
pd.DatetimeIndex(review_giant['date']).year.value_counts()

2017    1128518
2016    1052916
2015     911487
2014     678351
2013     472595
2012     350381
2011     290933
2010     187073
2009      98288
2008      61553
2007      23020
2006       5669
2005        870
2004         14
Name: date, dtype: int64

In [ ]:
# select only review after 2016
review_years = review_giant[review_giant['date'] >= '2017']
pd.DatetimeIndex(review_years['date']).year.value_counts()

In [ ]:
# feature selection 
review_years_features = review_years[['review_id','user_id','business_id','stars','date','text']]
review_years_features.head()

In [ ]:
# check for null 
review_years_features.isnull().sum()

### Review comments cleaning
    1. Tokenize the review comments at word level
    2. Change all upper case to lower case
    3. Remove regular English stopwords based on NTLK
    4. Remove punctuations and other symbols/words less than 2 characters
    5. Untokenize the words and return a clean text column in the dataframe

In [ ]:
import nltk
import string
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import re

In [ ]:
# define function to remove stop words
def remove_stopwords(list_of_token):
    '''
    Remove English stop words
    '''
    
    cleaned_tokens = []
    for token in list_of_token:
        if token in ENGLISH_STOP_WORDS: continue
        cleaned_tokens.append(token)
        
    return cleaned_tokens

In [ ]:
# define function to remove punctutations, remove extra ''
def remove_punctuations(list_of_tokens):
    
    cleaned_tokens =[]
    for word in list_of_tokens:
        
        for punctuation in string.punctuation:
            word = word.replace(punctuation,'')
            
            #remove character less than 2
            word = re.sub(r'\b\w{1,2}\b', '', word)
            
            
        cleaned_tokens.append(word)
        
        #remove extra '' in the list
        while('' in cleaned_tokens):
            cleaned_tokens.remove('')
        
    return cleaned_tokens

In [ ]:
# define a function to untokenize the tokens
def the_untokenizer(token_list):
    
    return " ".join(token_list)

In [ ]:
#define a function that combines the functions needed to clean out texts
def cleaning_out_texts(text):
    
    cleaned_text = [] 
    tokenizer_list = word_tokenize(text)
    
    lower_word = []
    for word in tokenizer_list:
        word = word.lower()
        lower_word.append(word)
        
    remove_stopwords_list = remove_stopwords(lower_word)
    remove_punctuation_list = remove_punctuations(remove_stopwords_list)
    back_to_string = the_untokenizer(remove_punctuation_list)
    
    cleaned_text.append(back_to_string)
    
    return cleaned_text

In [ ]:
def unlist(list):
    return str(list).strip("[],''")

In [ ]:
# review_years_features['cleaned_text'] = review_years_features['text'].apply(cleaning_out_texts)
# review_years_features.head()

## Business 
    1. Only interested in resturants
    2. Only North America or Canada?

In [ ]:
# Cleaning business table

#Categories with word 'Restaurants' or 'Food'
business_filter = business_giant[business_giant['categories'].str.contains("Food")| business_giant['categories'].str.contains('Restaurants')]

#Only look at Ontario 
business_filter_state = business_filter[business_filter['state']== 'ON']
business_filter_state.nunique()

In [ ]:
# merge table 
print(business_filter_state.shape)
print(review_years_features.shape)

In [ ]:
#create master table filtered on business id 
master_df = pd.DataFrame()
master_df = pd.merge(left= business_filter_state, right= review_years_features, on='business_id')
master_df

In [ ]:
master_df['cleaned_text'] = master_df['text'].apply(cleaning_out_texts)
master_df['cleaned_text'] = master_df['cleaned_text'].apply(unlist)
master_df.head()

## Check-in 
    1. Aggregrate check in on business id

In [ ]:
# Clean check-in table
checkin_df = check_in_giant.groupby(['business_id','weekday'])['checkins'].sum().reset_index(name='checkins')
checkin_days_df = checkin_df.pivot_table(values='checkins', index = ['business_id'], columns=['weekday'], aggfunc='first', dropna=True).fillna(0).reset_index()
checkin_days_df

In [ ]:
# combine with master_df
master_df = master_df.merge(right=checkin_days_df, on ='business_id', how='left')

In [ ]:
# drop null values for weekdays 
master_df.isnull().sum
master_df = master_df.dropna(subset=['Fri','Sat' ,'Sun','Thu','Mon','Tue','Wed'])

In [ ]:
master_df.isnull().sum()

# EDA

# Modelling

# Conclusion